{% extends "layout.html" %}


{% block body %}
<table>
	<tr>
		<th>{{authtext}}</th>
	</tr>
	<tr>
		<th>Saunan nimi: {{sauna.name}}</th>

	</tr>

	<tr>
		<td>Osoite: {{sauna.address}}</td>
	</tr>
	<tr>
		<td>Yhteyshenkilöt: </td>
		{% for kayttaja in admins %}
		<td>{{kayttaja.username}}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>Luontipäivämäärä: {{sauna.date_created}}</td>
	</tr>
	<tr>
		<td>Tuntihinta: {{sauna.hourly_price}} €</td>
	</tr>
	<tr>
		<td>Tänään: {{timen}}</td>
	</tr>
	{% if current_user in sauna.admins %}
	<tr>
		<td>Saunan tähänastiset tulot: {{past_tulot}} €</td>
	</tr>
	<tr>
		<td>Saunan tulevat tulot: {{future_tulot}} €</td>
	</tr>
	<tr>
		<a href="{{url_for('new_vuoro', id=sauna.id)}}">Tee uusi saunavuoro</a>
	</tr>
	{% endif %}
	<tr>
		<td>Vuorot:</td>
	</tr>
	{% for vuoro in vuorot %}
	<tr>
		<td>päivämäärä: {{ vuoro.date }}</td>
		<td>hinta: {{vuoro.price}} €</td>
		{% if vuoro.varattu == True %}
		<td>	Varattu 	</td>
		{% else %}
		<td>	Vapaa!!!	</td>
		{% endif %}
		<td><a href="{{url_for('vuoro_id', id=vuoro.id)}}">Klo: {{ vuoro.time_start }} - {{ vuoro.time_end }}</a></td>
		<td>{{ vuoro.reserver_id }}</td>
	</tr>
	{% endfor %}
</table>

<form method="GET" action="{{ url_for('sauna_update', id=sauna.id) }}">
	<input type="submit" value="Muuta tietoja" />
</form>

{% endblock %}