{% extends "layout.html" %}

 
{% block body %}
  <table>
    <tr>
      <th>{{sauna.name}}</th>

    </tr>

    <tr>
      <td>{{sauna.address}}</td>
    </tr>
    <tr>
      <td>{{sauna.admin}}</td>
    </tr>

  </table>
  
  <form method="GET" action="{{ url_for('sauna_update', id=sauna.id) }}">
    <input type="submit" value="Muuta tietoja"/>
  </form>
  <tr>
    <script type="text/javascript">
		var calendar = $('#calendar').calendar({language: 'xx-XX'});
	</script>
  </tr>
      
{% endblock %}
