{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('vuoro_id', id=vuoro.id) }}">
	<table>
		<tr>
			<td>
				{{ form.date.label }}
			</td>
			<td>
				{{ form.date }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form.time_start.label }}
			</td>
			<td>
				{{ form.time_start }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Muuta varausta"/>
			</td>
		</tr>
</form>
<form method="POST" action="{{ url_for('vuoro_delete', id=vuoro.id) }}">
		<tr>
			<td colspan="2">
				<input type="submit" value="Poista sauna"/>
			</td>
		</tr>
</form>
{% endblock %}