{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('vuoro_id', id=vuoro.id) }}">
	<table>
		<tr>
			<td>
				{{ form.datef.label }}
			</td>
			<td>
				{{ form.datef }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form.timestartf.label }}
			</td>
			<td>
				{{ form.timestartf }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form.timeendf.label }}
			</td>
			<td>
				{{ form.timeendf }}
			</td>
			<td>
		</tr>
		<tr>
			<tr>
				<td>
					{{ form.varattu.label }}
				</td>
				<td>
					{{ form.varattu }}
				</td>
				<td>
			</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Muuta varausta"/>
			</td>
		</tr>
</form>
<form method="POST" action="{{ url_for('vuoro_delete', id=vuoro.id) }}">
		<tr>
			<td colspan="2">
				<input type="submit" value="Poista vuoro"/>
			</td>
		</tr>
</form>
{% endblock %}